* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 65vh;
  background: url("images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg") center/cover
    no-repeat;
  color: white;
  position: relative;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 79%,
    51% 89%,
    0 100%,
    0 100%,
    0 74%,
    0 43%,
    0 0
  );
}

.flex_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 3.5rem;
  margin-top: 30px;
}

.postscript {
  position: absolute;
  top: 18%;
  right: 27%;
  transform: rotate(48deg);
  font-size: 1.2rem;
}

.line {
  width: 2px;
  height: 100px;
  background-color: white;
  margin-bottom: 20px;
}
